
.botones{
    display: flex;
    flex-direction: column;
    

}
.botones div{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    align-content: center;
}
.botones__crearGrupo{
   background-color: #10488A;

}
.botones__unirse{
    background-color: #D11F0B;
    
}
/* style de la imagen */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
